.container-main
  h2 What's the Score?!

.container.sub
  h5
    | Ping Pong Score Tracker
    span(style="color:red")    |
    |     Ranking System

  //- .parallax-container
  //-   .parallax
  //-     img(src="http://sbxblog.wpengine.netdna-cdn.com/wp-content/uploads/2011/07/master-GG365.jpg")
