h3 What's the Score?!

h6
  | Ping Pong Score Tracker
  span(style="color:red")    |
  |     Ranking System


//- .parallax-container
//-   div(parallax="")
//-     img(src="http://i.imgur.com/YVUjma0.jpg")
