h1.text-center  Register
.col-sm-6.col-sm-offset-3
  form(ng-submit="register()")
    .form-group
      label  Email
      input.form-control(type="text", ng-model="user.email", placeholder="john@gmail.com")
    .form-group
      label Password
      input.form-control(type="password", ng-model="user.pw", placeholder="*********")
    button.btn.btn-primary.waves-effect.waves-light(type="submit") Submit
