h3.text-center  Register
.col-sm-6.col-sm-offset-3
  form.col.s12(ng-submit="register()")
    .input-field
      label Username
      input.form-control.validate(type="text", ng-model="user.name", class="validate")
    .input-field
      label  Email
      input.form-control.validate(type="email", ng-model="user.email")
    .input-field
      label Password
      input.form-control.validate(type="password", ng-model="user.pw")
    button.red.btn.btn-primary.waves-effect.waves-light(type="submit") Submit
