doctype
html(lang="en", ng-app="pingPong")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title What's the Score?!
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
    //link(rel="stylesheet", href="/lib/build.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div
      menu
      .container
        .row.col.s12.m12.offset
          div(ui-view)
    script(src="lib/build.js")
    script(src="scripts/app.js")
    script(src="scripts/login-register/authService.js")
    script(src="scripts/menu/menu.js")
    script(src="scripts/home/HomeCtrl.js")
    script(src="scripts/login-register/login-logout/LoginCtrl.js")
    script(src="scripts/login-register/registration/RegisterCtrl.js")
    script(src="scripts/login-register/SecureCtrl.js")
    script(src="scripts/secure/ProfileCtrl.js")
    script(src="scripts/secure/GPCtrl.js")
    script(src="scripts/secure/SCtrl.js")
