doctype
html(lang="en", ng-app="pingPong")
  head
    meta(charset="UTF-8")
    title What'ts the Score?!
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    div
      menu
      .container
        .row
          div(ui-view)
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js")
    //script(src='./bower_components/angular/angular.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js")
    script(src="http://cdn.firebase.com/js/client/2.2.1/firebase.js")
    script(src="http://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js")
    script(src="scripts/app.js")
    script(src="scripts/login-register/authService.js")
    script(src="scripts/menu/menu.js")
    script(src="scripts/home/HomeCtrl.js")
    script(src="scripts/login-register/login-logout/LoginCtrl.js")
    script(src="scripts/login-register/registration/RegisterCtrl.js")
    script(src="scripts/login-register/SecureCtrl.js")
    script(src="scripts/secure/ProfileCtrl.js")
    script(src="scripts/secure/GPCtrl.js")
    script(src="scripts/secure/TRCtrl.js")


