h3 GAME ON

//button.btn.modal-trigger(data-target="modal1") Modal

//- form(ng-submit="login()")
//-     .form-group
//-       label  Email
//-       input.form-control(type="text", ng-model="user.score", placeholder="john@gmail.com")
//-     .form-group
//-       label Password
//-       input.form-control(type="password", ng-model="user.pw", placeholder="*********")
//-     button.btn.btn-primary.waves-effect.waves-light(type="submit") Submit

//- input(type="button", value="Save Game", ng-click="saveGame()")

div(ng-controller = "GPCtrl")
  form(ng-submit="saveGame()")
    .form-group
      label Player


  button.btn.waves-effect.waves-light(ng-click="saveGame()") Save Game

