h3.text-center GAME ON

.container
  form.col.s12.m12.offset(ng-submit="saveGame()")
    .input-field
      label  Player 1 Name
      input.form-control.validate(type="text", ng-model="p1.name")
    .input-field
      label  Player 2 Name
      input.form-control.validate(type="text", ng-model="p2.name")
    .input-field
      label  Player 1 Score
      input.form-control.validate(type="number", ng-model="p1.score")
    .input-field
      label Player 2 Score
      input.form-control.validate(type="number", ng-model="p2.score")
    button.red.btn.waves-effect.waves-light(type="submit", onclick="Materialize.toast('Game Saved', 2000)") Save Game!


.container
  .row
    .col.s12.m5
      .card-panel.blue.darken-3
        span.white-text
          | Enter Player Names and their corresponding score for a Game in the form above.
    .col.s12.m7
      .card-panel.blue.darken-3
        span.white-text
          | Visit the Stats section to see your rankings and show off to the people in your office!
