nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(ui-sref="home")
        | What"s the Score?!
    ul.nav.navbar-nav.pull-right
      li
        a(ui-sref="home")  Home
      li
        a(ui-sref="secure.dashboard")  Dashboard
      li(ng-show="!user")
        a(ui-sref="register")  Register
      li(ng-show="!user")
        a(ui-sref="login")  Login
      li(ng-show="user")
        a(ui-sref="logout")  Logout
