nav.blue.darken-3
  .container
    .nav-wrapper
      ul.nav.navbar-nav.pull-right
        li
          a.waves-effect.waves-light(ui-sref="home") Home
        //- li(ng-show="user")
        //-   a.waves-effect.waves-light(ui-sref="secure.profile") Profile
        li(ng-show="user")
          a.waves-effect.waves-light(ui-sref="gamepage") Game Page
        li(ng-show="user")
          a.waves-effect.waves-light(ui-sref="stats") Stats
        li(ng-show="!user")
          a.waves-effect.waves-light(ui-sref="register") Register
        li(ng-show="!user")
          a.waves-effect.waves-light(ui-sref="login") Login
        li(ng-show="user")
          a(ui-sref="logout", onclick="Materialize.toast('You have Logged Out', 2700)") Logout


//- nav
//-   .container
//-     .nav-wrapper
//-       a.brand-logo(href="index.html") Materialize
//-       ul#nav-mobile.right.side-nav(style="left: -250px;")
//-         li.hide-on-small-only
//-           a(href="parallax.html")
//-             i.mdi-navigation-arrow-back
//-       a.button-collapse(href="#", data-activates="nav-mobile")
//-         i.mdi-navigation-menu
